@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto+Mono');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600');
html {
	overflow-y: scroll;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Helvetica';
	font-size: 1.1em;
	color:#263238;
}

/* HEADER */

body > header {
	padding: 30px 0px;
}

body > header > div {
	max-width: 900px;
	margin: 0px auto;
	display: flex;
}

header .logo {
	align-items: center;
    display: flex;
    flex: 1;
}

header .logo a {
	font-size: 1.1em;
	color: #263238;
}

header .logo svg {
    fill: #263238;
	width: 30px;
	margin-left: 20px;
	margin-right: 20px;
}

body > header ul {
    display: flex;
	flex: 0;
}

body > header li {
    align-items: center;
    display: flex;
    margin-right: 20px;
}

body > header a {
    color: #263238;
	text-decoration: none;
	white-space: nowrap;
	display: flex;
	align-items: center;
	font-size: 1.1em;
	border-bottom: 2px solid transparent;
	line-height: 2em;
}

body > header .active {
	display: inline-block;
	border-bottom: 2px solid #263238;
	line-height: 2em;
}

/* FOOTER */

footer {
	padding-top: 20px;
	padding-bottom: 20px;
	/*background-color: #f6f8f9;*/
}

footer > div {
	text-align: center;
}

footer > div > section {
	margin: 20px 0px;
}

footer > div > section > a {
	margin: 0px 5px;
}

/* LIST */

body > main > nav {
	max-width: 900px;
	margin: 0px auto;
}

.dot {
	color: #7b16ff;
}

.intro h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 88px;
	line-height: 94px;
	margin-bottom: 50px;
}

.summary {
	margin-bottom: 80px;
	font-size: 18px;
	line-height: 26px;
}

.summary .summary-date {
	color: var(--heading-color);
	font-weight: bold;
}

.summary .summary-title {
	margin: 0.2em 0;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 52px;
	line-height: 58px;
}

a {
	text-decoration: none;
	color: #7b16ff;
}

p {
	color: #4e5157
}

/* ARTICLE */

article {
	max-width: 900px;
	margin: 0px auto;
}

article > img {
	max-width: 100%;
	border-radius: 3px;
	margin: 60px 0px;
}

article p {
	margin: 30px 0px;
	line-height: 1.6em;
	text-align: justify;
}

article blockquote {
	margin: 30px 0px;
	font-style: italic;
	padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}

article header {
	margin-bottom: 20px;
}

article header h1 {
	font-size: 1.8em;
	margin-bottom: 12px;
	line-height: 1.6em;
}

article header time {
	display: inline-block;
}

article > div strong,
article > div b {
	font-weight: bold;
}

article > div > h1 {
	font-size: 1.8em;
	margin-top: 20px;
	margin-bottom: 20px;
}

article > div > h2 {
	font-size: 1.6em;
	margin-top: 20px;
	margin-bottom: 20px;
}

article > div > h3 {
	font-size: 1.4em;
	margin-top: 20px;
	margin-bottom: 20px;
}

article > div > h4 {
	font-size: 1.3em;
	margin-top: 20px;
	margin-bottom: 20px;
}

article p:first-of-type {
	margin-top: 0px;
}

article a,
article a:visited {
	color: #0091EA;
	text-decoration: none;
}


article ul {
	margin: 30px 0px;
	margin-left: 36px;
}

article ul li {
	list-style: disc;
	margin: 8px 0px;
	padding-left: 6px;	
}

article li {
	line-height: 1.6em;
}

article > div img {
	max-width: 100%;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 42px;
	border-radius: 5px;
	margin: 18px 30px;
	display: block;
    margin: 0 auto;
}

article pre {
	background: #f4f4f4;
	overflow-y: auto;
	border-radius: 6px;
	padding: 20px;	
}

article pre code span,
article pre code {
	font-family: "Roboto Mono" !important;
	font-size: 0.9rem;
	line-height: 1.4em;
}

article code {
	font-family: "Roboto Mono";
	background: #f4f4f4;
	font-size: 0.9rem;
	line-height: 1.4em;
	word-wrap: break-word;
	color: #E91E63;
}

/* TERMINAL */

 .terminal {
    background: #373B41;
	border-radius: 5px;
	margin-top: 40px;
	margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 20px 68px;
	padding: 18px 18px 18px 18px;	
	box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 42px
}

.terminal pre {
	color: #FFF;
	background: #373B41;
    font-family: "Roboto Mono";
    font-size: 0.9rem;
    line-height: 1.4em;
	-webkit-font-smoothing: antialiased;
	min-width: 0;
    white-space: pre-wrap;
	word-wrap: break-word;
	padding: 10px 20px;
}

.terminal.lite {
    background: #FFF;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 42px
}

.terminal.lite pre {
    background: #FFF;
	color: #000;
	font-family: "Roboto Mono";
}