{{ define "main" }}
<nav>
    <div>
      <p>
        Usually, you can find me at my desk, sipping my cafe con leche while reading the latest headlines on Hacker News.
      </p>
    </div>

    {{ range .Data.Pages.GroupByDate "2006" "desc" }}
        <h1>{{ .Key }}</h1>
        <ul>
        {{ range sort .Pages "Date" "desc" }}

        <li>
            <span class="date">{{ .Date.Format "Jan 2" }}</span>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    {{ end }}
</nav>
{{ end }}
