{{ define "main" }}
<nav>
    <div>
      <p>Hi! I'm Yohann, a french computer science student. Here I write about coding, devops things, open-source stuff and other experiences in technology.</p>
    </div>

    {{ range (where .Data.Pages "Section" "blog").GroupByDate "2006" "desc" }}
        <h1>{{ .Key }}</h1>
        <ul>
        {{ range sort .Pages "Date" "desc" }}

        <li>
            <span class="date">{{ .Date.Format "Jan 2" }}</span>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    {{ end }}
</nav>
{{ end }}