{{ define "main" }}
<nav>
    <div>
      <p>
      I'm currently working as a Site Reliability Engineer at Algolia, ensuring everything runs smoothly. 
      And when I have too much time on my hand, I write about coding, infrastructure things, open-source stuff and other experiences in technology.
      </p>
    </div>

    {{ range .Data.Pages.GroupByDate "2006" "desc" }}
        <h1>{{ .Key }}</h1>
        <ul>
        {{ range sort .Pages "Date" "desc" }}

        <li>
            <span class="date">{{ .Date.Format "Jan 2" }}</span>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    {{ end }}
</nav>
{{ end }}
