</main>
<script src="{{ .Site.BaseURL }}/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-48413769-8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-48413769-8');
</script>

<footer>
    <div>
        <section>
            <h3>Yohann Leon · <script>document.write((new Date()).getFullYear())</script></h3>
        </section>
        <section>
            <a href="https://github.com/obynio" target="_blank">{{ partial "footer/github.svg" (dict "fill" "#263238" "size" 18) }}</a>
            <a href="https://www.linkedin.com/in/yohannleon" target="_blank">{{ partial "footer/linkedin.svg" (dict "fill" "#263238" "size" 18) }}</a>
            <a href="https://www.facebook.com/yohann.leon" target="_blank">{{ partial "footer/facebook.svg" (dict "fill" "#263238" "size" 18) }}</a>
            <a href="#" data-to="bWFpbHRvOg" data-mail="eW9oYW5uQGxlb24ucmU" onmouseover="this.href = atob(this.dataset.to) + atob(this.dataset.mail)">{{ partial "footer/mail.svg" (dict "fill" "#263238" "size" 18) }}</a>
        </section>
    </div>
</footer>
</body>

</html>