{{ partial "header/header.html" . }}

<nav>
  <div>
  <p>Hi!</p>
  <p>I'm Yohann, a french computer science student. Here I write about coding, devops things, open-source stuff and other experiences in technology.</p>
  <p>Feel free to take a look at my latest projects on Github</p>
    </div>
    {{ range .Data.Pages.GroupByDate "2006" "desc" }}
      
        <h1>{{ .Key }}</h1>
        <ul>
        {{ range sort .Pages "Date" "desc" }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="date">{{ .Date.Format "1/2" }}</span>
        </li>
        {{ end }}
      </ul>
    {{ end }}
</nav>
{{ partial "footer/footer.html" . }}